* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECECEC;
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 13px;
  width: 100%;
  height: 100%;
}

body.dark {
  background-color: #212121;
  color: #ffffff;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #03A9F4;
}

.dark a, .dark a:visited, .dark a:hover, .dark a:focus,  .dark a:active {
  color: #0277BD;
}

button {
  font-family: 'Roboto', 'sans-serif';
}

header {
  background-color: #03a9f4;
  color: #ffffff;
  display: flex;
  height: 48px;
  opacity: 0.95;
  z-index: 10;

  position: fixed !important;
  left: 0px;
  right: 0px;
  top: 0;
}

.dark header {
  background-color: #0277BD;
}

header > p {
  flex: 1;
  font-size: 20px;
  margin: auto 1em;
}

header .actions {
  display: flex;
}

.icon-invert {
  fill: #ffffff;
}

.icon-normal {
  fill: rgba(0, 0, 0, 0.54);
}

.dark .icon-normal {
  fill: #ffffff;
}

#active-users {
  font-size: 16px;
  margin: auto;
  min-width: 48px;
  text-align: center;
}

.dropdown {
  width: 48px;
  height: 48px;
  margin: 0;
  overflow: visible;
  position: relative;
}

.dropdown .toggle {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.dark .dropdown .toggle {
  /* necessary to be "more specific" than the dark dropdown button styles */
  background-color: rgba(0, 0, 0, 0);
}

.dropdown .toggle:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.dark .dropdown .toggle:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.dropdown .menu {
  border-radius: 2px;
  min-width: 168px;
  outline: none;
  margin-top: 8px;
  margin-right: 8px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  visibility: hidden;

  transform: scale(0);
  transform-origin: 100% 0%;

  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

.dropdown.active .menu {
  opacity: 1;
  visibility: visible;

  transform: scale(1);
}

.dropdown button {
  width: 100%;
  height: 48px;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
}

.dark .dropdown button {
  background-color: #424242;
  color: #ffffff;
}

.dropdown button:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.dropdown button:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.dropdown button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.dark .dropdown button:hover {
  background-color: #525252;
}

.dropdown button:active {
  background-color: #dddddd;
}

.dark .dropdown button:active {
  background-color: #616161;
}

#message-list {
  list-style-type: none;
  margin: 56px auto 116px;
  padding: 0;
  min-width: 640px;
  width: 1400px;
  border-radius: 2px;
}

#message-list li {
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  font-size: 20px;
  padding: 0px;
}

.dark #message-list li {
  background-color: #303030;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

#message-list li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#message-list li:first-child .video-container {
  border-top-left-radius: 2px;
  overflow: hidden;
}

#message-list li:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
  border-bottom: none;
}

#message-list li:last-child .video-container {
  border-bottom-left-radius: 2px;
  overflow: hidden;
  margin-bottom: 0;
}


#message-list li .video-container {
  width: 200px;
  height: 150px;
  margin-bottom: -1px;
  position: relative;
}

.video-container .filmstrip {
  display: none;
}

.video-container .filmstrip {
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 1000%;
  backface-visibility: hidden;
}

.displayed .video-container .filmstrip {
  animation: filmstrip 0.92s infinite;
}

.backgrounded .displayed .video-container .filmstrip {
  animation: none;
}

.video-container .save, .video-container .save:focus {
  position: absolute;
  display: block;
  padding: 4px 8px;
  bottom: 8px;
  left: 8px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  outline: none;
  border-radius: 2px;
  background-color: #03a9f4;
  opacity: 0;
  visibility: hidden;

  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
}

.dark .video-container .save, .dark .video-container .save:focus {
  background-color: #0277BD;
}

.video-container:hover .save {
  visibility: visible;
  opacity: 0.95;
}

.save:hover {
  background-color: #039ee4;
  cursor: pointer;
}

.dark .save:hover {
  background-color: #0288D1;
}

.save:active {
  background-color: #0394d6;
}

.dark .save:active {
  background-color: #039BE5;
}

.save[disabled] {
  background-color: #01579B;
}

#message-list li p {
  flex: 1;
  padding: 8px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

#message-list li .message-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 4px;
}

.message-overflow {
  display: inline-block;
}

.message-meta .dropdown {
  /* compensate for the icon being higher and not looking like it occupies the lower space */
  margin-bottom: -24px;
}

.dropdown .toggle.message-overflow {
  padding: 0;
}

.dropdown .toggle.message-overflow:hover {
  background-color: transparent;
}

.dropdown .toggle.message-overflow:active {
  background-color: transparent;
}

.message-overflow > .icon {
  margin-left: 24px;
  margin-bottom: 8px;
}

.message-overflow:hover {
  cursor: pointer;
}

.message-overflow:hover .icon, .message-overflow:active .icon {
  fill: rgba(0, 0, 0, 0.87);
}

.dark .message-overflow:hover .icon, .dark .message-overflow:active .icon {
  fill: rgba(255, 255, 255, 0.7);
}

.identicon {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  margin: 1px 8px 1px 2px;
  padding: 3px;
}

.dark .identicon {
  border-color: rgba(255, 255, 255, 0.12);
}

.identicon .block {
  display: inline-block;
  float: left;
  width: 20%;
  height: 20%;
}

.message-meta time {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  padding: 0;
  margin-right: 8px;
}

.dark .message-meta time {
  color: rgba(255, 255, 255, 0.7)
}

footer {
  display: flex;

  position: fixed;
  bottom: 8px;
  left: 0px;
  right: 0px;

  margin: auto;
  padding: 0;
  width: 1400px;
}

footer .progress {
  position: absolute;
}

.preview-container {
  background: #000000;

  height: 102px;
  width: 136px;
}

.preview-container video {
  height: 100%;
  width: 100%;
}

form {
  align-self: flex-end;
  background-color: #fafafa;
  border-radius: 2px;
  display: flex;
  flex: 1;
  margin: 0 8px;
}

.dark form {
  background-color: #303030;
}

#message {
  background: #fafafa;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 4px;
  outline: none;
  padding: 4px 2px;

  transition: border-color .3s;
}

.dark #message {
  background: #303030;
  border-color: rgba(255, 255, 255, 0.12);
  color: #ffffff;
}

#message:hover {
  border-color: rgba(0, 0, 0, 0.54);
}

.dark #message:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

#message:active, #message:focus {
  border-color: #03a9f4;
  border-width: 2px;
  padding: 4px 2px 3px 2px; /* account for extra border size */
}

.dark #message:active, .dark #message:focus {
  border-color: #0277BD;
}

#message.full:active, #message.full:focus {
  border-color: #F44336;
}

.dark #message.full:active, #message.full:focus {
  border-color: #C62828;
}

#char-counter {
  color: rgba(0, 0, 0, 0.54);
  padding: 0px 8px;
  margin: auto;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  transition: visiblity .3s, opacity .3s, color .3s;
}

.dark #char-counter {
  color: rgba(255, 255, 255, 0.7);
}

#char-counter.full {
  color: #F44336;
}

.dark #char-counter.full {
  #color: #C62828;
}

#message:active + #char-counter, #message:focus + #char-counter {
  visibility: visible;
  opacity: 1;
}

#send {
  border: 0;
  background-color: #03a9f4;
  /* match the form's border radius on the outer corners */
  border-radius: 0 2px 2px 0;
  margin: 0 0 0 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.dark #send {
  background-color: #0277BD;
}

#send:hover {
  background-color: #039ee4;
  cursor: pointer;
}

.dark #send:hover {
  background-color: #0288D1;
}

#send:active {
  background-color: #0394d6;
}

.dark #send:active {
  background-color: #039BE5;
}

#send > svg {
  vertical-align: middle;
}

.progress {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 8px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility .3s, opacity .3s;
}

.progress.visible {
  visibility: visible;
  opacity: 1;
}

.progress .circle .mask, .progress .circle .fill {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}

.progress .circle .mask, .progress .circle .fill {
  backface-visibility: hidden;
  transition: transform .3s;
}

.progress .circle .mask {
  clip: rect(0px, 48px, 48px, 24px);
}

.progress .circle .mask .fill {
  clip: rect(0px, 24px, 48px, 0px);
  background-color: #03a9f4;
}

.dark .progress .circle .mask .fill {
  background-color: #0277BD;
}

.progress .inset {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 6px; /* (circle size - inset size) / 2 */
  margin-top: 6px;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .progress .inset {
  background-color: #303030;
}

.progress .text {
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
}

.dark .progress .text {
  color: #ffffff;
}

.flex-grow {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16),
      0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shadow-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19),
      0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 2000px) {
  #message-list {
    width: 70%;
  }

  footer {
    width: 70%;
  }
}

@media (max-width: 1460px) {
  #message-list {
    width: 80%;
  }

  footer {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  #message-list {
    width: 892px;
  }

  footer {
    width: 892px;
  }
}

@media (max-width: 920px) {
  #message-list {
    width: auto;
  }

  footer {
    width: auto;
  }
}

@media screen and (max-device-width: 500px) and (orientation: portrait),
    screen and (max-device-height: 500px) and (orientation: landscape) {
  #message-list {
    min-width: 0px;
  }

  #message-list li {
    font-size: 14px;
  }

  #message-list li .video-container {
    height: 102px;
    width: 136px;
  }

  .message-meta time {
    font-size: 12px;
  }

  .identicon {
    height: 28px;
    width: 28px;
  }
}

@keyframes filmstrip {
  0% {
    background-position: 0 -0%;
    animation-timing-function: steps(1);
  }
  10% {
    background-position: 0 -100%;
    animation-timing-function: steps(1);
  }
  20% {
    background-position: 0 -200%;
    animation-timing-function: steps(1);
  }
  30% {
    background-position: 0 -300%;
    animation-timing-function: steps(1);
  }
  40% {
    background-position: 0 -400%;
    animation-timing-function: steps(1);
  }
  50% {
    background-position: 0 -500%;
    animation-timing-function: steps(1);
  }
  60% {
    background-position: 0 -600%;
    animation-timing-function: steps(1);
  }
  70% {
    background-position: 0 -700%;
    animation-timing-function: steps(1);
  }
  80% {
    background-position: 0 -800%;
    animation-timing-function: steps(1);
  }
  90% {
    background-position: 0 -900%;
    animation-timing-function: steps(1);
  }
}
