*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
body.light {
  --colorBackground: #ececec;
  --colorSurface: #fafafa;
  --colorPopoverSurface: #ffffff;
  --colorButtonHover: rgba(0, 0, 0, 0.12);
  --colorButtonActive: rgba(0, 0, 0, 0.16);

  --colorTextPrimary: rgba(0, 0, 0, 0.87);
  --colorTextSecondary: rgba(0, 0, 0, 0.6);
  --colorTextDisabled: rgba(0, 0, 0, 0.38);
  --colorTextInvert: #ffffff;
  --colorTextLink: #f06292;
  --colorTextError: #f44336;

  --colorIconPrimary: rgba(0, 0, 0, 0.6);
  --colorIconDisabled: rgba(0, 0, 0, 0.3);
  --colorIconInvert: #ffffff;
  --colorIconInvertDisabled: rgba(255, 255, 255, 0.3);

  --colorBorder: rgba(0, 0, 0, 0.12);
  --colorBorderHover: rgba(0, 0, 0, 0.54);

  --identiconBgSaturation: 20;
  --identiconBgLightness: 96;
  --identiconFgSaturationLow: 50;
  --identiconFgSaturationHigh: 90;
  --identiconFgLightnessLow: 30;
  --identiconFgLightnessHigh: 60;

  --messageFontSize: 20px;
  --messageTimeFontSize: 16px;
  --videoWidth: 200px;
  --videoHeight: 150px;

  margin: 0;
  padding: 56px 0 158px;
  background-color: var(--colorBackground);
  color: var(--colorTextPrimary);
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

@media (prefers-color-scheme: dark) {
  body {
    --colorBackground: #212121;
    --colorSurface: #303030;
    --colorPopoverSurface: #424242;
    --colorButtonHover: rgba(255, 255, 255, 0.12);
    --colorButtonActive: rgba(255, 255, 255, 0.16);

    --colorTextPrimary: #ffffff;
    --colorTextSecondary: rgba(255, 255, 255, 0.7);
    --colorTextDisabled: rgba(255, 255, 255, 0.3);
    --colorTextLink: #f48fb1;
    --colorTextError: #c62828;

    --colorIconPrimary: #ffffff;
    --colorIconDisabled: rgba(255, 255, 255, 0.3);

    --colorBorder: rgba(255, 255, 255, 0.12);
    --colorBorderHover: rgba(255, 255, 255, 0.3);

    --identiconBgSaturation: 8;
    --identiconBgLightness: 27;
    --identiconFgSaturationLow: 35;
    --identiconFgSaturationHigh: 75;
    --identiconFgLightnessLow: 50;
    --identiconFgLightnessHigh: 75;
  }
}

body.dark {
  --colorBackground: #212121;
  --colorSurface: #303030;
  --colorPopoverSurface: #424242;
  --colorButtonHover: rgba(255, 255, 255, 0.12);
  --colorButtonActive: rgba(255, 255, 255, 0.16);

  --colorTextPrimary: #ffffff;
  --colorTextSecondary: rgba(255, 255, 255, 0.7);
  --colorTextDisabled: rgba(255, 255, 255, 0.3);
  --colorTextLink: #f48fb1;
  --colorTextError: #c62828;

  --colorIconPrimary: #ffffff;
  --colorIconDisabled: rgba(255, 255, 255, 0.3);

  --colorBorder: rgba(255, 255, 255, 0.12);
  --colorBorderHover: rgba(255, 255, 255, 0.3);

  --identiconBgSaturation: 8;
  --identiconBgLightness: 27;
  --identiconFgSaturationLow: 35;
  --identiconFgSaturationHigh: 75;
  --identiconFgLightnessLow: 50;
  --identiconFgLightnessHigh: 75;
}

sc-dropdown:not(:defined) {
  width: 48px;
  height: 48px;
  visibility: hidden;
}

b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin: 8px 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  line-height: 64px;
  color: var(--colorTextSecondary);
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h5 {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colorTextSecondary);
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  font-weight: inherit;
  color: var(--colorTextLink);
}

button {
  background-color: transparent;
  font-family: 'Roboto', 'sans-serif';
  outline: none;
  border: none;
}

button:hover {
  background-color: var(--colorButtonHover);
  cursor: pointer;
}

button:active {
  background-color: var(--colorButtonActive);
}

button:disabled {
  background-color: transparent;
  cursor: default;
}

header {
  background-color: #f06292;
  color: #ffffff;
  display: flex;
  height: 48px;
  z-index: 10;

  position: fixed !important;
  left: 0px;
  right: 0px;
  top: 0;
}

header > p {
  flex: 1;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  text-rendering: optimizeLegibility;
  margin: auto 1em;
}

header .actions {
  display: flex;
}

#active-users {
  font-size: 16px;
  margin: auto;
  min-width: 48px;
  text-align: center;
}

sc-message-list {
  min-width: 640px;
  width: 1400px;
  --identiconSize: 38px;
}

.empty-view {
  display: none;
}

.no-messages .empty-view {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 34px;
  color: var(--colorTextSecondary);
  text-align: center;
  margin: 0px auto;
}

footer {
  display: flex;

  position: fixed;
  bottom: 4px;
  left: 0px;
  right: 0px;

  margin: auto;
  padding: 0;
  width: 1400px;
}

footer .progress {
  position: absolute;
}

.preview-container {
  width: var(--videoWidth);
  height: var(--videoHeight);
  background: #101010;
  position: relative;
  contain: strict;
  overflow: hidden;
  /* This makes iOS Safari actually treat this as hoverable so the switch camera
     button shows */
  cursor: pointer;
}

.preview-container video {
  height: 100%;
  width: 100%;
  position: absolute;

  transition: filter 0.3s linear;
}

.preview-container video.paused {
  filter: grayscale(1);
}

.preview-container .switch-camera,
.preview-container .switch-camera:focus {
  position: absolute;
  display: block;
  /* vertical differences here account for weirdness in this particular icon's spacing */
  padding: 6px 8px 2px;
  bottom: 8px;
  left: 8px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  outline: none;
  border-radius: 2px;
  background-color: #f06292;
  opacity: 0;
  visibility: hidden;

  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.preview-container:hover .switch-camera {
  visibility: visible;
  opacity: 0.95;
}

.switch-camera:hover {
  background-color: #f86a9a;
  cursor: pointer;
}

.switch-camera:active {
  background-color: #ff71a1;
}

.camera-disabled-message {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.camera-disabled-icon {
  margin-bottom: 8px;
}

.camera-disabled-text {
  font-size: 20px;
}

.camera-enabled .camera-disabled-message {
  display: none;
}

form {
  align-self: flex-end;
  background-color: var(--colorSurface);
  border-radius: 2px;
  display: flex;
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
  contain: layout paint;
}

#message {
  background: var(--colorSurface, #fafafa);
  border: var(--colorBorder, none);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  color: var(--colorTextPrimary, #212121);
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 4px;
  outline: none;
  padding: 4px 2px;
  overflow: hidden;

  transition: border-color 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#message:hover {
  border-color: var(--colorBorderHover, rgba(0, 0, 0, 0.54));
}

#message:active:active,
#message:focus:focus {
  border-color: #f06292;
  border-width: 2px;
  padding: 4px 2px 3px 2px; /* account for extra border size */
}

#message.full:active:active,
body #message.full:focus:focus {
  border-color: #d32f2f;
}

/* lol css gods look at me now */
#message[readonly][readonly][readonly] {
  border-color: #cb7a95;
}

#message[readonly] {
  color: var(--colorTextDisabled, rgba(0, 0, 0, 0.38));
}

#char-counter {
  color: var(--colorTextSecondary, rgba(0, 0, 0, 0.6));
  padding: 0px 8px;
  margin: auto;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  transition: visiblity 0.3s, opacity 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#char-counter.full {
  color: var(--colorTextError, #f44336);
}

#message:active + #char-counter,
#message:focus + #char-counter {
  visibility: visible;
  opacity: 1;
}

#send {
  border: 0;
  background-color: #f06292;
  /* match the form's border radius on the outer corners */
  border-radius: 0 2px 2px 0;
  margin: 0 0 0 4px;
  padding-left: 16px;
  padding-right: 16px;
}

#send:hover {
  background-color: #f86a9a;
  cursor: pointer;
}

#send:active {
  background-color: #ff71a1;
}

#send:disabled:disabled {
  cursor: default;
  background-color: #cb7a95;
}

.progress {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 8px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.progress.visible {
  visibility: visible;
  opacity: 1;
}

.progress .circle .mask,
.progress .circle .fill {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}

.progress .circle .mask,
.progress .circle .fill {
  backface-visibility: hidden;
  transition: transform 0.3s;
}

.progress .circle .mask {
  clip: rect(0px, 48px, 48px, 24px);
}

.progress .circle .mask .fill {
  clip: rect(0px, 24px, 48px, 0px);
  background-color: #f06292;
}

.progress .inset {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 6px; /* (circle size - inset size) / 2 */
  margin-top: 6px;
  border-radius: 50%;
  background-color: var(--colorSurface, #fafafa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  color: var(--colorTextPrimary, rgba(0, 0, 0, 0.87));
  overflow: hidden;
}

.dialog-scrim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  opacity: 1;
}

.dialog-scrim.entering,
.dialog-scrim.leaving {
  opacity: 0;
}

.dialog-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 21;
  overflow: hidden;
}

.dialog {
  background-color: var(--colorPopoverSurface, #fafafa);
  width: 672px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  padding: 24px;
  transition: transform cubic-bezier(0, 0, 0.2, 1) 400ms;
  transform: translateY(0);
}

.dialog.entering {
  transform: translateY(100vh);
}

.dialog.will-leave {
  transition: all cubic-bezier(0.4, 0, 1, 1) 400ms;
}

.dialog.leaving {
  transform: translateY(-100vh);
}

.dialog > h2:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  display: inline-block;
}

.dialog > h2 + .secondary {
  display: inline-block;
}

.dialog ul {
  margin-left: 20px;
}

.dialog li {
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.secondary {
  color: var(--colorTextSecondary, rgba(0, 0, 0, 0.54));
}

.flex-grow {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098),
    0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.shadow-2 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098),
    0 1px 10px 0 rgba(0, 0, 0, 0.084);
}

.shadow-5 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.14), 0 16px 24px 2px rgba(0, 0, 0, 0.098),
    0 6px 30px 5px rgba(0, 0, 0, 0.084);
}

@media (max-width: 2000px) {
  sc-message-list {
    width: 70%;
  }

  footer {
    width: 70%;
  }
}

@media (max-width: 1460px) {
  sc-message-list {
    width: 80%;
  }

  footer {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  sc-message-list {
    width: 892px;
  }

  footer {
    width: 892px;
  }
}

@media (max-width: 920px) {
  sc-message-list {
    width: auto;
    min-width: unset;
  }

  footer {
    width: auto;
  }

  .dialog {
    width: 480px;
    max-width: 90vw;
  }
}

@media screen and (max-device-width: 500px) {
  body {
    --videoWidth: 136px;
    --videoHeight: 102px;
    padding-bottom: 110px;
  }

  sc-message-list {
    min-width: 0px;

    --identiconSize: 28px;
    --messageFontSize: 14px;
    --messageTimeFontSize: 12px;
  }

  .no-messages .empty-view {
    font-size: 24px;
  }

  .camera-disabled-icon {
    margin-bottom: 4px;
  }

  .camera-disabled-text {
    font-size: 15px;
  }

  #char-counter {
    display: none;
  }

  #message {
    margin-right: 2px;
  }
}
