doctype html
html
  head
    title seat.camp
    link(type='text/css', rel='stylesheet',
      href='//fonts.googleapis.com/css?family=Roboto:300,700,400')
    link(type='text/css', rel='stylesheet', href='styles.css')
    link(type='image/x-icon', rel='icon', href='favicon.ico')
    meta(name='theme-color', content='#212121')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, ' +
        'maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='mobile-web-app-capable')
    meta(content='yes', name='apple-mobile-web-app-capable')
  body(class=theme == 'dark' ? 'dark' : '')
    header.shadow-1
      p seat.camp
      .actions
        p#active-users ?
        div.dropdown
          button.toggle.icon-invert(title="Options")
            include ../svg/ic_more_vert_24px.svg
          div.menu.shadow-2
            button(data-action='unmute') Unmute all
            button#change-theme(data-action='changeTheme') Use dark theme
    ul#message-list.shadow-1
    footer
      div.preview-container.shadow-1
          video#preview
      .progress.shadow-1
        .circle
          .mask.full
            .fill
          .mask.half
            .fill
            .fill.fix
        .inset.shadow-1
            p.text 0%
      form.shadow-1
        input#message(type='text', maxlength='250', autofocus='true', autocomplete='off')
        p#char-counter 0 / 250
        button#send.icon-invert(type='submit', title="Send")
          include ../svg/ic_send_24px.svg
    script(type='text/javascript', src='client.js')
