doctype html
html
  head
    title seat.camp
    link(type='text/css', rel='stylesheet',
      href='//fonts.googleapis.com/css?family=Roboto:300,700,400')
    link(type='text/css', rel='stylesheet', href='sprite-content-white.css')
    link(type='text/css', rel='stylesheet', href='sprite-navigation-white.css')
    link(type='text/css', rel='stylesheet', href='styles.css')
    link(type='image/x-icon', rel='icon', href='favicon.ico')
  body
    header.shadow-1
      p seat.camp
      .actions
        p#active-users ?
        div.dropdown
          button.toggle(title="Options")
            div.nav-icon.icon-ic_more_vert_white_24dp
          div.menu.shadow-2
            button(data-action='unmute') Unmute all
    ul#message-list
    footer
      div.preview-container.shadow-1
          video#preview
      .progress.shadow-1
        .circle
          .mask.full
            .fill
          .mask.half
            .fill
            .fill.fix
        .inset.shadow-1
            p.text 0%
      form.shadow-1
        input#message(type='text', maxlength='250', autofocus='true')
        p#char-counter 0 / 250
        button#send(type='submit', title="Send")
          div.icon.icon-ic_send_white_24dp
    script(type='text/javascript', src='client.js')
