* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECECEC;
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 13px;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #03A9F4;
}

header {
  background-color: #03a9f4;
  color: #ffffff;
  display: flex;
  height: 48px;
  opacity: 0.95;
  z-index: 10;

  position: fixed !important;
  left: 0px;
  right: 0px;
  top: 0;
}

header p {
  flex: 1;
  font-size: 20px;
  margin: auto 1em;
}

#active-users {
  flex: 0;
  font-size: 16px;
  margin: auto 4em;
}

#message-list {
  background-color: #ffffff;
  border-radius: 2px;
  list-style-type: none;
  margin: 48px auto 116px;
  padding: 0;
  padding-bottom: 2px;
  min-width: 640px;
  width: 1400px;
}

#message-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  font-size: 20px;
  padding: 0px 16px;
}

#message-list li:last-child {
  border-bottom: none;
}

#message-list li .video-container {
  width: 200px;
  height: 150px;
  margin-bottom: -1px;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .save, .video-container .save:focus {
  position: absolute;
  display: block;
  padding: 4px 8px;
  bottom: 8px;
  left: 8px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  outline: none;
  border-radius: 2px;
  background-color: #03a9f4;
  opacity: 0;
  visiblity: hidden;

  transition: visibility 0.4s, opacity 0.4s, background-color 0.4s;
}

.video-container:hover .save {
  visibility: visible;
  opacity: 0.95;
}

.save:hover {
  background-color: #039ee4;
  cursor: pointer;
}

.save:active {
  background-color: #0394d6;
}

.save[disabled] {
  background-color: #01579B;
}

#message-list li p {
  flex: 1;
  padding: 8px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

#message-list li .message-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 0;
}

.message-meta time {
  color: #B8B8B8;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 0;
}

.identicon {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  margin: 1px 0px 1px 2px;
  padding: 3px;
}

.identicon .block {
  display: inline-block;
  float: left;
  width: 20%;
  height: 20%;
}

.mute {
  background-color: #e0e0e0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  outline: none;
  padding: 2px 4px;
}

.mute:hover {
  background-color: #EF9A9A;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

.mute:active {
  background-color: #E57373;
}

footer {
  display: flex;

  position: fixed;
  bottom: 8px;
  left: 0px;
  right: 0px;

  margin: auto;
  padding: 0 16px;
  width: 1400px;
}

footer .progress {
  position: absolute;
}

.preview-container {
  background: #000000;

  height: 102px;
  width: 136px;
}

.preview-container video {
  height: 100%;
  width: 100%;
}

form {
  align-self: flex-end;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  flex: 1;
  margin-left: 8px;
}

#message {
  background: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 4px;
  outline: none;
  padding: 4px 2px;
}

#message:hover {
  border-color: rgba(0, 0, 0, 0.54);
}

#message:active, #message:focus {
  border-color: #03a9f4;
  border-width: 2px;
  padding: 4px 2px 3px 2px; /* account for extra border size */
}

#char-counter {
  color: #727272;
  padding: 0px 8px;
  margin: auto;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;

  transition: visiblity .3s, opacity .3s;
}

#message:active + #char-counter, #message:focus + #char-counter {
  visibility: visible;
  opacity: 1;
}

#send {
  border: 0;
  background-color: #03a9f4;
  /* match the form's border radius on the outer corners */
  border-radius: 0 2px 2px 0;
  margin: 0 0 0 4px;
  padding-left: 16px;
  padding-right: 16px;
}

#send:hover {
  background-color: #039ee4;
  cursor: pointer;
}

#send:active {
  background-color: #0394d6;
}

.progress {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 8px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility .3s, opacity .3s;
}

.progress.visible {
  visibility: visible;
  opacity: 1;
}

.progress .circle .mask, .progress .circle .fill {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}

.progress .circle .mask, .progress .circle .fill {
  backface-visibility: hidden;
  transition: transform .3s;
}

.progress .circle .mask {
  clip: rect(0px, 48px, 48px, 24px);
}

.progress .circle .mask .fill {
  clip: rect(0px, 24px, 48px, 0px);
  background-color: #03a9f4;
}

.progress .inset {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 6px; /* (circle size - inset size) / 2 */
  margin-top: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
}

.flex-grow {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
}

.shadow-1::before {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

.shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.shadow-2::before {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

@media (max-width: 2000px) {
  #message-list {
    width: 70%;
  }

  footer {
    width: 70%;
  }
}

@media (max-width: 1460px) {
  #message-list {
    width: 80%;
  }

  footer {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  #message-list {
    width: 892px;
  }

  footer {
    width: 892px;
  }
}

@media (max-width: 920px) {
  #message-list {
    width: auto;
  }

  footer {
    width: auto;
  }
}
