* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 13px;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #03A9F4;
}

header {
  background-color: #03a9f4;
  color: #ffffff;
  display: flex;
  height: 56px;
  opacity: 0.95;
  z-index: 10;

  position: fixed !important;
  left: 0px;
  right: 0px;
  top: 0;
}

header p {
  flex: 1;
  font-size: 20px;
  margin: auto 1em;
}

#active-users {
  flex: 0;
  font-size: 16px;
  margin: auto 4em;
}

#message-list {
  list-style-type: none;
  margin: 56px 0 162px;
  padding: 0;
}

#message-list li {
  display: flex;
  font-size: 20px;
  padding: 0px 16px;
}

#message-list li video {
  width: 200px;
  height: 150px;
}

#message-list li .message-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex: 1;
  padding: 8px;
}

.message-content p {
  flex: 1;
  padding: 0 8px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-content time {
  color: #B8B8B8;
  font-size: 16px;
  padding: 0 8px 0 0;
}

.identicon {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  padding: 2px;
  margin: 1px;
}

.identicon .block {
  display: inline-block;
  float: left;
  width: 8px;
  height: 8px;
}

footer {
  display: flex;

  position: fixed;
  bottom: 8px;
  left: 16px;
  right: 16px;
}

footer .progress {
  position: absolute;
}

.preview-container {
  background: #000000;

  height: 150px;
  width: 200px;
}

.preview-container video {
  height: 100%;
  width: 100%;
}

form {
  align-self: flex-end;
  background: #eeeeee;
  display: flex;
  flex: 1;
  margin-left: 8px;
}

#message {
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.26);
  color: #212121;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  flex: 1;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-top: 4px;
  outline: none;
  padding: 4px 2px;
}

#message:hover {
  border-color: rgba(0, 0, 0, 0.54);
}

#message:active, #message:focus {
  border-color: #03a9f4;
}

#char-counter {
  color: #727272;
  padding: 0px 12px;
  margin: auto;
}

#send {
  border: 0;
  background-color: #03a9f4;
  margin: 0 0 0 4px;
  padding-left: 16px;
  padding-right: 16px;
}

#send:hover {
  background-color: #039ee4;
}

#send:active {
  background-color: #0394d6;
}

.progress {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 8px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: visibility .3s, opacity .3s;
}

.progress.visible {
  visibility: visible;
  opacity: 100;
}

.progress .circle .mask, .progress .circle .fill {
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 50%;
}

.progress .circle .mask, .progress .circle .fill {
  backface-visibility: hidden;
  transition: transform .3s;
}

.progress .circle .mask {
  clip: rect(0px, 48px, 48px, 24px);
}

.progress .circle .mask .fill {
  clip: rect(0px, 24px, 48px, 0px);
  background-color: #03a9f4;
}

.progress .inset {
  width: 36px;
  height: 36px;
  position: absolute;
  margin-left: 6px; /* (circle size - inset size) / 2 */
  margin-top: 6px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
}

.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
}

.shadow-1::before {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

.shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.shadow-2::before {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}
